/* @import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"; */

/* Variable google icons */
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* for material symbols  */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}

small {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}

/* Following is the theme for this application */

@layer components {
  /* Buttons */
  .btn {
    @apply py-1.5 px-4 rounded-sm hover:brightness-110 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:brightness-100;
  }

  .btn-mainAccent {
    @apply btn bg-mainAccent text-white/70 shadow hover:brightness-110;
  }

  .model-main{
    @apply relative shadow-lg max-w-lg bg-gray-800 p-8 rounded-sm mx-auto mt-10;
  }

  /* input fields of all application will be styled as */

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"] {
    @apply block bg-gray-600/10 px-1.5 py-2 rounded-sm w-full focus:outline-none border border-gray-600/50 text-gray-400 placeholder:text-sm placeholder:text-gray-500/70 focus:border-mainAccent/70;
  }

  /* for invalid fields */
  input[type="text"].invalid,
  input[type="email"].invalid,
  input[type="password"].invalid,
  input[type="number"].invalid {
    @apply !bg-red-900/20 !border !border-red-500 placeholder:!text-red-500/50 placeholder:!font-normal !text-red-500;
  }
}
